﻿@using MetalPortal
@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;
@model OffersViewComponent

@{
    Layout = "~/Views/Shared/_Component.cshtml";
    var filtersSet = new FilterSetProducts(globals);
}

<style>
    .m_OffersViewComponent fieldset ol li {
        display: table-cell;
        padding-right: 2em;
    }

    .m_OffersViewComponent fieldset ol {
        padding: 2em;
        background: #e6e6e6;
    }

        .m_OffersViewComponent fieldset ol label {
            display: none;
        }
</style>

<style>
    .m_OffersViewComponent .left_column {
        float: left;
        width: 200px;
        padding: 0px 15px 0px 0px;
        box-sizing: border-box;
    }

        .m_OffersViewComponent .left_column .filter_wrapper {
            margin: 0px 0px 20px 0px;
        }

            .m_OffersViewComponent .left_column .filter_wrapper select, .page_bids .left_column .filter_wrapper input[type="text"] {
                width: 100%;
                padding: 4px 0px;
                border: 1px #e0e0e0 solid;
                box-sizing: border-box;
            }

            .m_OffersViewComponent .left_column .filter_wrapper input[type="text"] {
                padding: 6px 6px;
            }

            .m_OffersViewComponent .left_column .filter_wrapper .filter_title {
                margin-bottom: 7px;
                color: darkslategray;
                font-weight: bold;
            }

            .m_OffersViewComponent .left_column .filter_wrapper .k-dropdown {
                width: 100%;
            }

            .m_OffersViewComponent .left_column .filter_wrapper input.k-textbox {
                width: 100%;
                padding: 0px;
            }

        .m_OffersViewComponent .left_column input.apply_filters {
            width: 100%;
        }

    .m_OffersViewComponent .right_column {
        margin-left: 200px;
        overflow: hidden;
    }
</style>

<script>

    //Заявки
    (function ($) {
        var parentWidget = window.kendo.ui.GuidedWidget;
        var OffersViewComponent = parentWidget.extend({
            grid: null,
            filters: null,
            catalogueItems: [],
            ids: null,
            userId: null,
            forEdit: false,
            init: function (element, options) {

                parentWidget.fn.init.call(this, element, options);

                var widget = this;

                widget.userId  = options.userId;
                widget.forEdit = options.forEdit;
                widget.searchText = options.searchText;

                 //Получаем элементы каталога
                $.ajax({
                    url: '/Data/GetCatalogueItems',
                    success: function (data) {
                        widget.catalogueItems = data;
                    },
                    async: false
                });

                //Редакторы
                function catalogueIdDropDownEditor(container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "name",
                            dataValueField: "id",
                            dataSource: widget.catalogueItems,
                            valuePrimitive: true
                        });
                };

                //Инициализируем грид
                var columns = [
                    {
                        field: 'catalogueId', title: 'Тип продукции', template: function (dataItem) {
                            return dataItem.catalogue ? widget.catalogueItems.filter(function (x) { return x.id == dataItem.catalogueId })[0].name : '';
                        }, editor: catalogueIdDropDownEditor
                    },
                    { field: 'size', title: 'Размер' },
                    { field: 'steelGrade', title: 'Марка стали' },
                    { field: 'metalType', title: 'Тип металла' },
                    { field: 'quantity', title: 'Количество', format: "{0:n2}" },
                    { field: 'comment', title: 'ГОСТ' },
                    { field: 'article', title: 'Артикул' },
                    { field: 'price', title: 'Цена', format: "{0:n0}" },
                ];
                if (widget.forEdit)
                    columns.push({ command: ["edit", "destroy"], title: "&nbsp;", width: "250px" });

                widget.grid = widget.element.find('.grid').kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: '/Data/GetOffers',
                                data: function () {
                                    return {
                                        filters: widget.element.find('.left_column').find('select,input').serializeToObject(),
                                        forEdit: widget.forEdit,
                                        userId: widget.userId,
                                        searchText: widget.searchText
                                    };
                                }
                            },
                            update: {
                                url: '/Actions/UpdateOffer',
                                type: "POST"
                            },
                            destroy: {
                                url: '/Actions/RemoveOffer',
                                type: "POST"
                            },
                            create: {
                                url: '/Actions/CreateOffer',
                                type: "POST"
                            },
                        },
                        schema: {
                            data: "data",
                            total: "total",
                            errors: "error",
                            model: {
                                id: "id",
                                fields: {
                                    id: { type: "number", editable: true },
                                    size: { type: "string", editable: true },
                                    steelGrade: { type: "string", editable: true },
                                    metalType: { type: "string", editable: true },
                                    quantity: { type: "number", editable: true },
                                    comment: { type: "string", editable: true },
                                    article: { type: "string", editable: true },
                                    price: { type: "number", editable: true }
                                }
                            }
                        },
                        serverPaging: true,
                        pageSize: 10
                    },
                    editable: 'inline',
                    toolbar: widget.forEdit ? ["create"] : false,
                    pageable: true,
                    height: 550,
                    columns: columns
                }).data('kendoGrid');

                if (widget.options.showFilters && !widget.options.searchText)
                    widget.element.find('.left_column').show();
                else
                    widget.element.find('.right_column').css("margin-left", "0px");

                widget.element.find('.left_column').find('select,input').keyup(function () {
                    widget.grid.dataSource.page(1);
                    widget.grid.dataSource.read();
                });

                widget.element.find('.left_column').find('.apply_filters').click(function () {
                    widget.grid.dataSource.page(1);
                    widget.grid.dataSource.read();
                });

                widget.element.find('.left_column').find('select').kendoDropDownList({
                    change: function () {
                        widget.grid.dataSource.page(1);
                        widget.grid.dataSource.read();
                    }
                });
            },
            refresh: function (filters) {
                this.setFilters(filters);
                this.grid.dataSource.read();
            },
            setFilters: function (filters) {
                this.filters = filters;
            },
            options: {
                autoBind: false,
                name: 'OffersViewComponent',
                height: '400px',
                userId: null,
                forEdit: null,
                searchText: null,
                showFilters: true
            }
        });
        metal.registerWidget(OffersViewComponent);
    })(jQuery);
</script>

<script>
    $(function () {
        $('#@Model.guid').metalOffersViewComponent({
            userId: @Html.Raw(Model.UserId.toJSON()),
            forEdit: @Html.Raw(Model.ForEdit.toJSON()),
            searchText: '@Html.Raw(Model.SearchText)'
        });
    })
</script>

<div class="left_column" style="display: none">
    @foreach (var filter in filtersSet.Filters)
    {
        <div class="filter_wrapper">

            <div class="filter_title">@filter.Title</div>

            @if (filter.OptionType.IsSubclassOf(typeof(EntityNamed)))
            {
                <select name="@filter.PropertyName">
                    <option value="">@filter.Placeholder</option>
                    @foreach (var filterOption in filter.GetOptions())
                    {
                        <option value="@filterOption.Id">@filterOption.Name</option>
                    }
                </select>
            }


            @if (filter.OptionType == typeof(string))
            {
                <input name="@filter.PropertyName" type="text" value="" placeholder="@filter.Placeholder" class="k-textbox" />
            }

        </div>
    }

    <input type="button" class="apply_filters" value="Обновить" />
</div>

<div class="right_column">
    <div class="grid"></div>
</div>