﻿html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'PT Sans',Arial;
    font-size: 14px;
    margin: 0px;
}

header {
}

header .top {
    height: 80px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

header .top .logo {
    height: 80%;
    float: left;
    margin-top:10px;
}

header .top .compnay_title {
    float:left;
    height: 100%;
    font-size: 28px;
    text-transform: uppercase;
    margin-left: 16px;
    padding-top: 8px;
    color: black;
    font-weight: 900;
    width: 200px;
}

header .top .compnay_title > div {
    font-size: 14px;
    font-weight: normal;
    margin-top: 3px;
}

header .breadcrumbs {
    height: 0px
}

h1 {
    margin: 1em 0em;
}

.content_wrapper {
    overflow: hidden;
    padding: 0px 10px;
}

aside {
    width: 0%;
    display: inline-block;
    vertical-align: top;
    display: none;
    padding: 1em 2em;
    margin-top: 1.5em;
}

aside a {
    display: block;
    margin: 1em 0em;
}

main {
    width: 100%;
    display: inline-block;
    font-size: 13px;
    padding: 0em 2em;
    box-sizing: border-box;
}

main .m_sub_main {
    padding-left: 1em;
}

header nav {
    height: 50px;
    margin-top: 0px;
    padding: 15px;
    box-sizing: border-box;
}

header nav a {
    text-decoration: none;
    padding: 0px 25px;
    border-right: 1px solid white;
}

header nav a:hover {
    text-decoration: underline
}


footer {
    height: 50px;
    background: #e6e6e6;
    margin-top: 40px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    /* position: absolute; */
    bottom: 0px;
}

/* colors */
.m_gray {
    color: slategray
}
/* management */
.undisplayed {
    display: none
}

.required::after {
    color: red;
    margin-left: 0.3em;
    content: '*'
}
/* fieldset */
fieldset {
    border: none;
    padding-left: 0;
}

fieldset legend {
    display: none;
}

fieldset ol {
    list-style: none;
    padding-left: 1em;
    display: table;
    margin-bottom: 2em;
}

fieldset ol li {
    display: table-row
}

fieldset ol li label {
    display: table-cell;
    padding: 0.5em 1em 2em 0em;
    vertical-align: top;
}

fieldset ol li .value {
    display: table-cell;
    padding: 0.5em 1em 2em 0em;
    vertical-align: top;
}

fieldset ol li label + textarea {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

span.field-validation-error {
    display: block !important;
    font-size: 11px;
    color: red;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* inputs */
input[type=text], input[type=password], textarea, select {
    padding: 0.5em 0.5em;
    border: solid 1px silver;
    font-family: inherit;
    font-size: inherit;
}

input[type=button], input[type=submit], button {
    background: none;
    border: none;
    padding: 0.8em 2em;
    font-size: initial;
    cursor: pointer;
    text-transform: uppercase;
    font-size: inherit;
    box-shadow: 5px 5px 10px black;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    box-shadow: 1px 1px 3px black;
}

/* breadcrumbs */
.m_breadcrumbs {
    margin-top: 1em;
}

/* m_error */
.m_error {
    color: red
}

/* kendo */
.k-grid tbody .k-button {
    font-size: 70%;
}

.k-textbox .k-icon.k-clear-value {
    top: 75%;
}

.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
    margin: 10px 60px;
    padding: 8px 14px;
}

/* m_name_value_list */
.m_name_value_list {
}

.m_name_value_list .m_item {
    margin-top: 1em;
    overflow: hidden;
}

.m_name_value_list .m_item .m_name {
    float: left;
    width: 15em;
    color: slategray
}

.m_name_value_list .m_item .m_value {
    width: 20em;
    float: left;
}

.m_name_value_list .m_item .m_value input {
    width: 100%;
}

.m_name_value_list input[type=submit] {
    margin-top: 2em
}
/* m_page_register */
.m_page_register input[type=text], input[type=password], select {
    width: 20em;
    box-sizing: border-box;
}

.m_page_register {
    text-align: center
}

.m_page_register fieldset ol {
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: left;
}

/* m_page_login */
.m_page_login {
    text-align: center
}

.m_page_login fieldset ol {
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: left;
}

.m_page_login input[type=text], input[type=password] {
    width: 20em;
    box-sizing: border-box;
}

/* navigation */
.m_page_navigation .m_navigation_group {
    padding: 1em 1em;
    overflow: hidden;
}

.m_page_navigation .m_navigation_group h2 {
    margin-top: 0em
}

.m_page_navigation .m_navigation_group_entry {
    float: left;
    text-align: center;
    margin: 0.5em;
}

.m_page_navigation .m_navigation_group_entry a {
    text-decoration: none;
    padding: 0.5em;
    border: 1px #dfdfdf solid;
    display: block;
}

.m_page_navigation .m_navigation_group_entry.image_entry a {
    box-shadow: 5px 5px 10px;
}

.m_page_navigation .m_navigation_group_entry:hover {
    background: gray;
}

.m_page_navigation .m_navigation_group_entry:hover a {
    text-decoration: underline;
    color: white
}

.m_page_navigation .m_navigation_group_entry.image_entry:hover {
    background:initial;
}
.m_page_navigation .m_navigation_group_entry.image_entry:hover a {
    box-shadow: 1px 1px 3px;
}

.m_page_navigation .m_navigation_group_entry.image_entry {
    margin:1em;
}

.m_page_navigation .m_navigation_group_entry.image_entry a {
    font-size: 16px;
    padding: 1.5em 2em;
    text-transform: uppercase;
}

.m_page_navigation .m_navigation_group_entry.image_entry img {
    height: 80px;
    /* width: 95px; */
}

.m_page_navigation .m_navigation_group_entry.image_entry span {
    display: block;
    margin-top: 1.5em;
    color: #595959;
}


.m_page_navigation .m_navigation_group_entry.image_entry:hover a {
    text-decoration: none;
    color: initial;
}

.m_catalogue_products {
    margin-top: 2em;
}

/* m_page_order */
.m_page_order > div {
    margin-left: 1em
}

.m_page_order .m_add_feedback {
    margin-top: 2em
}

/* m_OrderFeedbackForm */
.m_OrderFeedbackForm textarea {
    margin: 0px;
    resize: none;
    width: 30em;
    height: 10em;
}

/* m_AddAdvertForm */
/* m_AddAdvertForm */
.m_AddAdvertForm textarea, .m_AddAdvertForm input, .m_AddAdvertForm select {
    width: 30em;
}

.m_AddAdvertForm span.k-widget.k-dropdown {
    width: 15em;
}

.m_AddAdvertForm textarea {
    resize: none;
    height: 10em;
}

/* m_AddSubscription */

.m_AddSubscription {
    padding: 1em 5em;
}

.m_AddSubscription__services {
    overflow: hidden;
}

.m_AddSubscription__service {
    margin-right: 2em;
    padding: 1em;
    border: 2px solid #e2e2e2;
    font-size: 20px;
    width: 130px;
    height: 200px;
    float: left;
    text-align: center;
    align-items: center;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none !important;
    user-select: none;
    cursor: pointer;
}

.m_AddSubscription__service__name {
    margin-bottom: 2em;
}

.m_AddSubscription__service__old_price {
    color: lightgrey;
    text-decoration: line-through;
    margin-top: 0.5em;
    font-size: 16px;
}

.m_AddSubscription__payment {
    margin-top:1em;
}

.m_AddSubscription__payment_types {
    overflow: hidden;
    margin: 3em 0em;
}

.m_AddSubscription__payment_type {
    padding: 2em;
    border: 2px solid #e2e2e2;
    padding: 1em 2em;
    border: 2px solid #e2e2e2;
    width: 200px;
    float: left;
    margin-right: 2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none !important;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.m_AddSubscription__service.active {
    cursor: auto;
}

.m_AddSubscription__payment_type.active {
    cursor: auto;
}

.m_standart_form input[type=text], .m_standart_form input[type=password], .m_standart_form textarea {
    width: 20em;
    box-sizing: border-box;
}

.m_standart_form textarea {
    height:6em;
}

.sign_component {
    padding: 2em 1em 0em;
    width: 40em;
}
.sign_component .view_toggler {
    cursor:pointer;
    margin-bottom:1em
}
.sign_component .view_toggler > span {
    margin: 0em 1em;
}

.m_LoginPage .sign_component {
    margin: 0 auto;
    border: none;
}

/* fast_order */
.fast_order .success {
    width: 200px;
    text-align: center;
    padding: 10px;
}
.fast_order .success input {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

/* m_page_vendor */
.m_page_vendor .m_average_rating .k-rating-container {
    margin-left: -8px;
    margin-top: -6px;
}
.m_page_vendor .m_average_rating .k-rating-container .k-rating-item .k-icon {
    font-size: 20px;
}
.m_page_vendor .m_average_rating .k-rating-label {
    font-size: 14px;
    margin-top: -2px;
}
/* m_vendor_review */
.m_vendor_review .k-rating-container .k-rating-item .k-icon {
    font-size: 10px;
}

/* search_result_item */
.search_result_item {
    font-size: 13px;
}

.search_result_item a {

}
.search_result_item span {
    float:right;
}

/* SearchComponent */
.SearchComponent {
    overflow: hidden;
}
.SearchComponent > div {
    width: auto;
    overflow: hidden;
    padding-right: 1em;
}
.SearchComponent .k-autocomplete {
    width: 100%;
}
.SearchComponent > button {
    float: right;
    height: 36px;
}
