﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    Model.Title = "Добавить объявление";
    Model.H1 = "Добавить объявление";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script>
    $(function () {
        $('#@(Model.Guid.ToString())').find('.m_form').metalAddAdvertForm().load();
    })
</script>

@if(globals.user == null)
{
    <div class="m_new_order_warning"><a href="/login?returnUrl=/adverts/add">Войдите</a> на сайт, если хотите управлять своими объявлениями</div>
}

<div class="m_form"></div>




