﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    Model.Title = "Контакты и реквизиты компании";
    Model.H1 = "Контакты и реквизиты компании";

    var raw = globals.contextAccessor.HttpContext.Request.Query["headless"].ToString();
    if (raw.NotNullOrEmpty())
    {
        Layout = null;

    }
    else
    {
        Layout = "~/Views/Shared/_Main.cshtml";
    }
}

<style>
    .contacts table {
       border-collapse: collapse
    }
    .contacts table td {
        padding: 1em 1em;
        border: 1px solid silver;
    }
</style>



<script>

    $(document).ready(function () {
    });

</script>

@if (raw.NotNullOrEmpty())
{
    <h1>@Model.H1</h1>

}

<div class="contacts">
    <table>
        <tr>
            <td>1.</td>
            <td>Полное наименование контрагента</td>
            <td>Индивидуальный предприниматель Керженцев Иван Анатольевич</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Сокращенное наименование контрагента</td>
            <td>ИП Керженцев И.А.</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Организационно-правовая форма</td>
            <td>Индивидуальный предприниматель</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Юридический адрес</td>
            <td>601903,Владимирская область, г. Ковров, ул. Волго-Донская,д.23,кв.67</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Почтовый адрес</td>
            <td>601902,Владимирская область, г. Ковров, ул. Генералова,д.86,кв.1</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>E-mail</td>
            <td>derburt@mail.ru</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>ИНН</td>
            <td>330506471805</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Директор</td>
            <td>(Ф.И.О.) Керженцев Иван Анатольевич</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>Главный бухгалтер</td>
            <td>(Ф.И.О) Керженцев Иван Анатольевич</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>Расчетный счет</td>
            <td>40802810622510000171</td>
        </tr>
        <tr>
            <td>11.</td>
            <td>Наименование банка</td>
            <td>Филиал №3652 Банка ВТБ (ПАО) г. Воронеж</td>
        </tr>
        <tr>
            <td>12.</td>
            <td>БИК</td>
            <td>042007855</td>
        </tr>
        <tr>
            <td>13.</td>
            <td>Корреспондентский счет</td>
            <td>30101810545250000855</td>
        </tr>
        <tr>
            <td>14.</td>
            <td>ОГРНИП</td>
            <td>318332800054133</td>
        </tr>
    </table>
</div>