﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers

@model PageViewModel

@{
    Model.Title = "Главная";
    Model.H1 = "Главная";

    Layout = "~/Views/Shared/_Main.cshtml";
}

<h1>Главная страница</h1>

<p>
    На портале METAL100.RU представлен в виде каталога цен Основных поставщиков по всем Регионам РФ. Металлургический портал создан для того, что бы Вы могли купить необходимой Вам сортамент любой категории и вида!
<p>
    Для определения Веса сортамента на каждой странице расположен калькулятор (калькулятор металла), позволяющий не только рассчитывать вес в зависимости от размера, но и сразу стоимость данного количества в разрезе Основных Поставщиков Вашего Региона.
<p>
    Если Ваше предприятие занимается продажей продукции металлургической отрасли – мы предлагаем Вам разместить Ваше ценовое предложение (прайс-лист) на страницах нашего портала. Более 250 000 целевых посетителей (более 1,5 млн просмотров) ежемесячно будут видеть Ваше ценовое предложение! Через наш портал в Ваш адрес будут направлены Заявки и Тендеры покупателей по всему сортаменту металлопроката.
<p>
    Удобная навигация сайта: - например, раздела арматура, сортового проката позволяет в считанные секунды узнать предложения основных поставщикови цены на арматуру строительную в Выбранном Вами регионе!
<p>
    Выбираете нужный Вам размер и перед вами цены поставщиков, так же Вы можете распечатать эту страницу! Выбираете нужные Вам параметры марку стали, длину и звоните поставщику, либо отправьте ему заявку через наш сервис! Это сэкономит много Вашего времени!!
<p>
    Стальная Арматура рифлёная, применяемая для армирования железобетонных блоков широко представлена в разделе Сортовой прокат. Купить арматуру стальную, или оформить Заявку на покупку можно через наш раздел Заявки покупателей.
<p>
    Если арматура А500С или А3 Вам действительно нужен, и Вы хотите купить его по оптимальной цене - отправьте заявку поставщикам через наш сервис, Сравните цены и условия поставки. Всего 3 минуты и Вы получите свой тендер! Не покупайте дорого! Для отправки заявки пройдите по ссылке http://metal100.ru/cabinet/addOrder/ (Регистрация не требуется!).
<p>
    Для продавцов стальной арматуры, предусмотрен сервис, подключив Ваш сайт к нашей системе, Ваше ценовое предложение на все виды Металлопроката можно разместить в разделе Цены поставщиков! Ежемесячно более 250 000 посетителей сайта (только целевая аудитория) просматриваю предложения Основных поставщиков Регионов РФ.
<p>
    Кроме описанных выше услуг, наши специалисты имеющие обширный опыт в рекламе продукции металлургической отрасли помогут Вам создать Рекламную Кампанию по продаже металлопроката, например - арматуры стальной в Яндекс Директ и Google AdWords.
</p>