﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    Offer offer = Model.Object as Offer;
    Model.Title = "Предложение № " + offer.Id.ToString();
    Model.H1 = "Предложение № " + offer.Id.ToString();

    Layout = "~/Views/Shared/_Main.cshtml";
}

<script>
    $(document).ready(function () {
    });
</script>

<style>
</style>

<div class="m_name_value_list">
    <div class="m_item">
        <div class="m_name">Дата размещения:</div>
        <div class="m_value">@offer.CreateDate.ToString()</div>
    </div>
    <div class="m_item">
        <div class="m_name">Поставщик:</div>
        <div class="m_value"><a href="/vendor/@offer.Vendor.Id">@offer.Vendor.Name</a></div>
    </div>
    <div class="m_item">
        <div class="m_name">Тип товара:</div>
        <div class="m_value"><a href="/offers/@offer.Catalogue.Url">@offer.Catalogue.Name</a></div>
    </div>
    <div class="m_item">
        <div class="m_name">Размер:</div>
        <div class="m_value">@offer.Size</div>
    </div>
    <div class="m_item">
        <div class="m_name">Марка стали:</div>
        <div class="m_value">@offer.SteelGrade</div>
    </div>
    @if (offer.MetalType.NotNullOrEmpty())
    {
        <div class="m_item">
            <div class="m_name">Тип металла:</div>
            <div class="m_value">@offer.MetalType</div>
        </div>
    }
    @if (offer.Comment.NotNullOrEmpty())
    {
        <div class="m_item">
            <div class="m_name">ГОСТ:</div>
            <div class="m_value">@offer.Comment</div>
        </div>
    }
    <div class="m_item">
        <div class="m_name">Количество:</div>
        <div class="m_value">@offer.Quantity</div>
    </div>
    @if (offer.Price.HasValue && offer.Price > 0)
    {
        <div class="m_item">
            <div class="m_name">Цена:</div>
            <div class="m_value">@offer.Price</div>
        </div>
    }
</div>

