﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers

@model PageViewModel

@{
    Model.Title = "Главная";
    Model.H1 = "Оплата прошла успешно!";

    Layout = "~/Views/Shared/_Main.cshtml";

    var payment = Model.Object as Payment;
}

<h4 style="
    font-size: 16px;
    font-weight: normal;
">
    Вы успешно оплатили подписку "@payment.Service.Name" на сумму @payment.Amount руб.
</h4>

@if (ViewBag.ReturnUrl != null && ViewBag.ReturnUrl != "")
{
    <a href="@ViewBag.ReturnUrl">Перейти к исходной странице</a>
}