﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    Order order = Model.Object as Order;
    bool canSeeContact = globals.user != null && globals.user.UserRole == UserRoles.Vendor && globals.user.Status == UserStatuses.Confirmed;
    Model.Title = "Заявка №" + order.Id.ToString();
    Model.H1 = "Заявка №" + order.Id.ToString();

    Layout = "~/Views/Shared/_Main.cshtml";

    if (globals.user != null && globals.user.CanViewOrder(globals, order))
    {
        globals.eventsManager.Dispatch(EventTypes.ViewOrder, order);
    }
}

<script>
    $(document).ready(function () {
        $("#@(Model.Guid.ToString()) table").kendoGrid({
            sortable: true,
            scrollable: false
        });

        $("#@(Model.Guid.ToString()) .m_add_feedback").click(function () {
            metal.widgets.createInstance('OrderFeedbackForm', {
                orderId: @order.Id
            }).load(function () {
                this.open();
            });
        });
    });
</script>

<style>
    .k-grid {
        width: 50%
    }
</style>

<h3>Дата размещения:</h3>
<div>@order.CreateDate.ToString()</div>

<h3>Состав заявки:</h3>

<table>
    <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
    <th data-field="catalogue">Тип продукции</th>
    <th data-field="Size">Размер</th>
    <th data-field="SteelGrade">Марка стали</th>
    <th data-field="Quantity">Количество</th>
    </thead>
    <tbody>
        @foreach (var item in order.OrderItems)
        {
            <tr>
                <td>@item.Catalogue.Name</td>
                <td>@item.Size</td>
                <td>@item.SteelGrade</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>
@if (order.Comment.NotNullOrEmpty())
{
    <h3>Комментарий:</h3>
    <div>@order.Comment</div>
}

<h3 style="margin-top:2em">Контакты покупателя:</h3>

@if (globals.user != null && globals.user.CanViewOrder(globals, order))
{
    <div class="m_name_value_list">
        <div class="m_item">
            <div class="m_name">Имя:</div>
            <div class="m_value">@order.Name</div>
        </div>
        <div class="m_item">
            <div class="m_name">Email:</div>
            <div class="m_value">
                @if (canSeeContact)
                {
                    @order.Email
                }
                else
                {
                    <span class='m_error'>Вы должны быть одобренным поставщиком, чтобы просмтаривать контакты</span>
                }
            </div>
        </div>
        <div class="m_item">
            <div class="m_name">Телефон:</div>
            <div class="m_value">
                @if (canSeeContact)
                {
                    @order.Phone
                }
                else
                {
                    <span class='m_error'>Вы должны быть одобренным поставщиком, чтобы просмтаривать контакты</span>
                }
            </div>
        </div>
    </div>
    @if (globals.user != null && globals.user.IsVendor)
    {
        <input type="button" value="Ответить на заявку" class="m_add_feedback" data-orderid="@order.Id" />
    }
}
else
{
    <div style="margin-top:1em">
        <a style="color:red" href="/subscribe?returnUrl=@globals.contextAccessor.HttpContext.Request.Path">Оформите подписку для доступа к данным покупателя</a>
    </div>
}
