﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    Model.Title = "Поиск товара";
    Model.H1 = "Поиск товара";

    Layout = "~/Views/Shared/_Main.cshtml";

    var filtersSet = new FilterSetProducts(globals);
}

<style>
    .m_page_products .left_column {
        float: left;
        width: 200px;
        padding: 0px 15px 0px 0px;
        box-sizing: border-box;
    }

        .m_page_products .left_column .filter_wrapper {
            margin: 0px 0px 20px 0px;
        }

            .m_page_products .left_column .filter_wrapper select, .page_bids .left_column .filter_wrapper input[type="text"] {
                width: 100%;
                padding: 4px 0px;
                border: 1px #e0e0e0 solid;
                box-sizing: border-box;
            }

            .m_page_products .left_column .filter_wrapper input[type="text"] {
                padding: 6px 6px;
            }

            .m_page_products .left_column .filter_wrapper .filter_title {
                margin-bottom: 7px;
                color: darkslategray;
                font-weight: bold;
            }

            .m_page_products .left_column .filter_wrapper .k-dropdown {
                width:100%;
            }
            .m_page_products .left_column .filter_wrapper input.k-textbox {
                width: 100%;
                padding: 0px;
            }

        .m_page_products .left_column input.apply_filters {
            width: 100%;
        }

    .m_page_products .right_column {
        margin-left: 200px;
    }
</style>


<script>

    $(document).ready(function () {

        var rootElement = $('#@Model.Guid.ToString()');
        var baseUrl = 'https://kendo.cdn.telerik.com/2019.2.619/js/messages/kendo.messages.';

        $.getScript(baseUrl + "ru-RU.min.js", function () {

            var grid = rootElement.find('.grid').kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: '/Data/GetOffers',
                            data: function () {
                                return {
                                    filters: rootElement.find('.left_column').find('select,input').serializeToObject()
                                };
                            }
                        }
                    },
                    schema: {
                        data: "data",
                        total: "total",
                        errors: "error"
                    },
                    serverPaging: true,
                    pageSize: 12
                },
                pageable: true,
                columns: [
                    {
                        field: 'productType', title: 'Тип продукции', template: function (dataItem) {
                            return dataItem.catalogue.name;
                        }
                    },
                    { field: 'article', title: 'Артикул' },
                    { field: 'size', title: 'Размер', width: 100 },
                    { field: 'steelGrade', title: 'Марка стали' },
                    {
                        field: 'metalType', title: 'Тип металла', template: function (dataItem) {
                            return dataItem.metalType ? dataItem.metalType : '';
                        }
                    },
                    { field: 'quantity', title: 'Количество', width: 100 },
                    { field: 'comment', title: 'Примечание' },
                    { field: 'price', title: 'Цена', width: 80 },
                    {
                        field: 'vendor', title: 'Поставщик', template: function (dataItem) {
                            return '<a target="_blank" href="/vendor/' + dataItem.vendor.id + '">' + dataItem.vendor.organization + '</a>';
                        }
                    },
                    {
                        field: 'vendor', title: ' ', template: function (dataItem) {
                            return '<input class="place_order" style="font-size: 10px;padding: 0.8em 1em;" type="button" value="Оставить заявку" data-id="' + dataItem.id + '" />';
                        }
                    }
                ],
                dataBound: function (e) {
                    var grid = this;
                    grid.element.find('.place_order').off('click').click(function () {
                        var offerId = $(this).data('id');
                        orderComponent = $("<div></div>").appendTo('body').kendoComponentReact({
                            isPopup: true,
                            componentName: 'FastOrder',
                            componentProps: {
                                offerId: offerId,
                                onMount: function () {
                                    orderComponent.open();
                                },
                                onSuccessOK: function () {
                                    orderComponent.close();
                                }
                            }
                        }).data('kendoComponentReact');
                    })
                }
            }).data('kendoGrid');

            rootElement.find('.left_column').find('input').keyup(function () {
                grid.dataSource.page(1);
                grid.dataSource.read();
            });

            rootElement.find('.left_column').find('.apply_filters').click(function () {
                grid.dataSource.page(1);
                grid.dataSource.read();
            });

            rootElement.find('.left_column').find('select').kendoDropDownList({
                change: function () {
                    grid.dataSource.page(1);
                    grid.dataSource.read();
                }
            });
        });


    });

</script>

<div class="left_column">
    @foreach (var filter in filtersSet.Filters)
    {
        <div class="filter_wrapper">

            <div class="filter_title">@filter.Title</div>

            @if (filter.OptionType.IsSubclassOf(typeof(EntityNamed)))
            {
                <select name="@filter.PropertyName">
                    <option value="">@filter.Placeholder</option>
                    @foreach (var filterOption in filter.GetOptions())
                    {
                        <option value="@filterOption.Id">@filterOption.Name</option>
                    }
                </select>
            }


            @if (filter.OptionType == typeof(string))
            {
                <input name="@filter.PropertyName" type="text" value="" placeholder="@filter.Placeholder" class="k-textbox" />
            }

        </div>
    }

            <input type="button" class="apply_filters" value="Обновить" />
</div>

<div class="right_column">
    <div class="grid"></div>
</div>