﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    string searchText = Model.Object.ToString();
    Model.Title = "Результаты поиска";
    Model.H1 = "Результаты поиска: " + "\"" + searchText + "\"";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script>
    $(document).ready(function () {
    });
</script>

<div style="margin-left:1em">
    @await Component.InvokeAsync("Offers", new { forEdit = false, searchText = searchText })
</div>