﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers

@model PageViewModel

@{
    Model.Title = "Оформить подписку";
    Model.H1 = "Оформить подписку";

    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="m_subscribe"></div>

<script>
    window.app.init($("#@Model.Guid .m_subscribe")[0], "AddSubscription", {
        returnUrl: '@ViewBag.ReturnUrl'
    })
</script>