﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    User vendor = Model.Object as User;
    var rating = vendor.Ratings.Count > 0 ? (double?)Math.Round(vendor.Ratings.Average(x => x.Rating) * 2) / 2 : null;
    Model.H1 = vendor.Organization;
    Model.Title = "Поставщик - " + vendor.Organization;
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script>
        $(document).ready(function () {
            $(".feedback").metalVendorFeedbackForm({
                vendorId: @vendor.Id,
                canBeReviewed: @vendor.CanRating(globals).toJSON()
            });
            $("#@Model.Guid .rating").kendoRating({
                precision: "half",
                readonly: true
            });
        });
</script>

<div class="m_name_value_list">

    <div class="m_item">
        <div class="m_name">Название организации:</div>
        <div class="m_value">@vendor.Organization</div>
    </div>

    <div class="m_item">
        <div class="m_name">Контактное лицо:</div>
        <div class="m_value">@vendor.Name</div>
    </div>

    <div class="m_item">
        <div class="m_name">Телефон:</div>
        <div class="m_value">@Utils.FormatPhone(vendor.PhoneNumber)</div>
    </div>

    <div class="m_item">
        <div class="m_name">Email:</div>
        <div class="m_value">@vendor.Email</div>
    </div>

    @if (vendor.Url.NotNullOrEmpty())
    {
        <div class="m_item">
            <div class="m_name">Веб-сайт:</div>
            <div class="m_value"><a target="_blank" href="@vendor.Url">@vendor.Url</a></div>
        </div>
    }

    @if (rating.HasValue)
    {
        <div class="m_item m_average_rating">
            <div class="m_name">Рейтинг:</div>
            <div class="m_value"><input class='rating' value='@rating.ToString().Replace(",", ".")' /></div>
        </div>
    }

</div>

<h2 style="margin:2em 0em 0em 0em">Отзывы</h2>
<div class="feedback"></div>

<h2 style="margin:2em 0em">Продукция</h2>

<div style="margin-left:1em">
    @await Component.InvokeAsync("Offers", new { forEdit = false, userId = vendor.Id })
</div>