﻿@using MetalPortal.Core
@model OrderNewViewComponent
@inject Globals globals;

@{
    Layout = "~/Views/Shared/_Component.cshtml";
}

<style>
    .m_OrderNewViewComponent fieldset ol li {
        display: table-cell;
        padding-right: 2em;
        vertical-align: top;
    }

    .m_OrderNewViewComponent fieldset ol {
        padding: 2em;
        background: #e6e6e6;
        padding-bottom: 1em
    }

        .m_OrderNewViewComponent fieldset ol label {
            display: none;
        }

    .m_OrderNewViewComponent textarea[name="Comment"] {
        height: 3.5em;
        overflow: hidden;
        resize: none;
        width: 31em;
    }
</style>

<script>

    //Список продукции
    (function ($) {
        var parentWidget = window.kendo.ui.GuidedWidget;
        var ProductList = parentWidget.extend({
            grid: null,
            filters: null,
            init: function (element, options) {

                parentWidget.fn.init.call(this, element, options);

                var widget = this;

                //grid
                var columns = [
                    {
                        field: 'productType', title: 'Тип продукции', template: function (dataItem) {
                            return dataItem.catalogue.name;
                        }
                    },
                    //{ field: 'article', title: 'Артикул' },
                    { field: 'steelGrade', title: 'Марка стали' },
                    { field: 'size', title: 'Размер' },
                    //{ field: 'metalType', title: 'Тип металла' },
                    { field: 'quantity', title: 'Количество', width: 100 },
                    //{ field: 'comment', title: 'Примечание' },
                    //{ field: 'price', title: 'Цена' },
                    {
                        field: 'vendor', title: 'Поставщик', template: function (dataItem) {
                            return '<a target="_blank" href="/vendor/' + dataItem.vendor.id + '">' + dataItem.vendor.organization + '</a>';
                        }
                    }
                ];
                if (widget.options.choose) {
                    columns.push({
                        command: {
                            text: "Выбрать", click: function (e) {
                                e.preventDefault();
                                widget.options.choose(this.dataItem($(e.currentTarget).closest("tr")));
                            }
                        },
                        title: " ",
                        width: "110px"
                    });
                }
                this.grid = element.kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: '/Data/GetOffers',
                                data: function () {
                                    return {
                                        filters: widget.filters
                                    };
                                }
                            }
                        },
                        schema: {
                            data: "data",
                            total: "total",
                            errors: "error"
                        },
                        serverPaging: true,
                        pageSize: 12
                    },
                    height: 400,
                    pageable: true,
                    autoBind: widget.options.autoBind,
                    columns: columns
                }).data('kendoGrid');
            },
            refresh: function (filters) {
                this.setFilters(filters);
                this.grid.dataSource.read();
            },
            setFilters: function (filters) {
                this.filters = filters;
            },
            options: {
                autoBind: false,
                name: 'ProductList',
                height: '400px'
            }
        });
        metal.registerWidget(ProductList);
    })(jQuery);

    //Создание нового заказа
    (function ($) {
        var parentWidget = window.kendo.ui.GuidedWidget;
        var OrderNew = parentWidget.extend({
            kendoWindow: null,
            orderGrid: null,
            suggestions: null,
            catalogueItems: null,
            init: function (element, options) {

                parentWidget.fn.init.call(this, element, options);

                var widget = this;

                $.get('/Data/GetCatalogueItems', {}, function (data) {
                    widget.catalogueItems = data;
                    widget.initCustom.call(widget, element);
                });

            },
            initCustom: function (element) {

                var widget = this;

                //order grid
                var orderItems = [];
                var refreshSuggestions = function (field, value) {
                    var filters = $.extend({}, widget.orderGrid.getEditedDataItem().toJSON(), { [field]: value });
                    delete filters.Id;
                    if (field == 'CatalogueId')
                        widget.suggestions.grid.dataSource.page(1);
                    widget.suggestions.refresh(filters);
                };
                function catalogueIdDropDownEditor(container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "name",
                            dataValueField: "id",
                            autoBind: true,
                            dataSource: {
                                transport: {
                                    read: "/Data/GetCatalogueItems"
                                }
                            },
                            change: function () {
                                refreshSuggestions('CatalogueId', this.value());
                            }
                        });
                };
                function textEditor(container, options) {
                    $('<input class="k-textbox" type="text" name="' + options.field + '"/>')
                        .appendTo(container)
                        .keyup(function (e) {
                            refreshSuggestions(options.field, $(this).val());
                        })
                };
                function steelGradeEditor(container, options) {
                    $('<input class="k-textbox" type="text" name="' + options.field + '"/>')
                        .appendTo(container)
                        .keyup(function (e) {
                            refreshSuggestions(options.field, $(this).val());
                        })
                        .kendoAutoComplete({
                            minLength: 1,
                            dataSource: {
                                transport: {
                                    read: {
                                        url: '/Data/GetSteelGrades',
                                        data: function (e) {
                                            var filters = $.extend({}, widget.orderGrid.getEditedDataItem().toJSON());
                                            delete filters.Id;
                                            return {
                                                search: e.filter.filters[0] ? e.filter.filters[0].value : '',
                                                filtersJSON: JSON.stringify(filters)
                                            };
                                        }
                                    }
                                },
                                serverFiltering: true,
                            },
                            noDataTemplate: 'Нет результатов',
                            change: function (e) {
                                refreshSuggestions(options.field, this.value());
                            }
                        });
                };
                this.orderGrid = element.find('.m_order_grid').kendoGrid({
                    dataSource: {
                        data: orderItems,
                        sort: { field: "Id", dir: "desc" },
                        transport: {
                            read: function (e) {
                                e.success([]);
                            },
                            update: function (e) {
                                e.success();
                            },
                            create: function (e) {
                                var item = e.data;
                                //item.Id = widget.orderGrid.dataSource.data().length + 1;
                                //item.Id = new Date().getTime();
                                e.success(item);
                            },
                            destroy: function (e) {
                                e.success();
                            }
                        },
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    Id: { type: "number" },
                                    CatalogueId: { type: "string" },
                                    SteelGrade: { type: "string" },
                                    Size: { type: "string" },
                                    Quantity: { type: "number" },
                                    ProductId: { type: "number", nullable: true },
                                }
                            }
                        }
                    },
                    pageable: false,
                    height: 400,
                    //toolbar: ["create"],
                    toolbar: false,
                    columns: [
                        {
                            field: "CatalogueId", title: "Тип продукции", width: "80px", editor: catalogueIdDropDownEditor, template: function (dataItem) {
                                return dataItem.CatalogueId ? widget.catalogueItems.filter(function (x) { return x.id == dataItem.CatalogueId })[0].name : '';
                            }
                        },
                        { field: "SteelGrade", title: "Марка стали", width: "70px", editor: steelGradeEditor },
                        { field: "Size", title: "Размер", width: "40px", editor: textEditor },
                        { field: "Quantity", title: "Количество", width: "35px", editor: textEditor },
                        { command: ["edit", "destroy"], title: "&nbsp;", width: "80px" }],
                    editable: "inline",
                    save: function (e) {
                        setTimeout(function () {
                            e.sender.addRow();
                        }, 0);
                    },
                    cancel: function (e) {
                        setTimeout(function () {
                            e.sender.addRow();
                        }, 0);
                    },
                    remove: function (e) {
                        setTimeout(function () {
                            e.sender.addRow();
                        }, 0);
                    },
                    beforeEdit: function (e) {
                        if (e.model.isNew())
                            //e.model.Id = new Date().getTime();
                            e.model.Id = 10000 - this.dataSource.total();
                    },
                    edit: function (e) {
                        var row = e.sender.table.find('tr[data-uid=' + e.model.uid + ']');
                        row.find('.k-button.k-grid-update').contents().filter(function () { return this.nodeType == 3; }).first().replaceWith(e.model.isNew() ? 'Добавить' : 'Обновить');
                        row.find('.k-grid-cancel').toggle(!e.model.isNew());
                    }
                }).data('kendoGrid');

                //создаем ряд
                this.orderGrid.addRow();

                //suggestions grid
                this.suggestions = element.find('.m_suggestions_grid').metalProductList({
                    autoBind: true,
                    choose: function (dataItem) {
                        widget.orderGrid.cancelRow();
                        orderItems.push({
                            Id: widget.orderGrid.dataSource.total() + 1,
                            Size: dataItem.size,
                            SteelGrade: dataItem.steelGrade,
                            Quantity: dataItem.quantity,
                            CatalogueId: dataItem.catalogueId,
                            ProductId: dataItem.id
                        });
                        widget.orderGrid.dataSource.data(orderItems);
                        widget.orderGrid.addRow();
                    }
                });

                //send
                element.find('.m_send').click(function () {
                    if (widget.validate()) {
                        widget.orderGrid.cancelRow();
                        widget.send();
                    }
                });
            },
            validate: function () {
                var result = true;
                var widget = this;
                var form = widget.element.find('.m_personal_form');
                var data = form.serializeToObject();
                for (var key in data) {
                    var wrapper = form.find('[data-name="' + key + '"]');
                    if (!data[key] && wrapper.attr('required')) {
                        result = result && false;
                        wrapper.find('.field-validation-error').html('Заполните поле').show();
                    }
                    else
                        wrapper.find('.field-validation-error').html('').hide();
                }

                if (!result)
                    metal.ui.error('Заполните обязательные поля');
                else if (widget.orderGrid.dataSource.total() < 2) {
                    metal.ui.error('Добавьте позиции в заявку');
                    result = result && false;
                }

                return result;
            },
            send: function () {
                var widget = this;
                var form = widget.element.find('.m_personal_form');
                var formData = form.serializeToObject();
                formData.OrderItems = widget.orderGrid.dataSource.data().toJSON();
                formData.OrderItems.forEach(function (x) {
                    delete x.Id;
                });

                (new metal.actions.action('CreateOrder')).post(formData)
                    .then(function () {
                        metal.ui.message('Ваша заявка принята', function () {
                            location.reload();
                        });
                    })
                    .catch(function (response) {
                        metal.ui.error(response.message);
                    });

            },
            options: {
                name: 'OrderNew'
            }
        });
        metal.registerWidget(OrderNew);
    })(jQuery);

</script>

<script>
    $(function () {
        $('#@Model.guid').metalOrderNew();
    })
</script>

@if(globals.user == null)
{
    <div class="m_new_order_warning"><a href="/login?returnUrl=/orders/new">Войдите</a> на сайт, если хотите управлять своими заявками</div>
}

<fieldset class="m_personal_form">
    <legend>Персональные данные</legend>
    <ol>
        <li data-name="Name" required>
            <label>Ваше имя</label>
            <input type="text" name="Name" value="@(globals.user != null ? globals.user.Name : "")" placeholder="Ваше имя" />
            <span class="field-validation-error"></span>
        </li>
        <li data-name="Email" required>
            <label>Ваш email</label>
            <input type="text" name="Email" value="@(globals.user != null ? globals.user.Email : "")" placeholder="Ваш email" />
            <span class="field-validation-error"></span>
        </li>
        <li data-name="Phone" required>
            <label>Ваш телефон</label>
            <input type="text" name="Phone" value="@(globals.user != null ? globals.user.PhoneNumber : "")" placeholder="Ваш телефон" />
            <span class="field-validation-error"></span>
        </li>
        <li data-name="Comment">
            <label>Комментарий</label>
            @*<input style="width: 87em;" type="text" name="Comment" value="" placeholder="Ваш комментарий" />*@
            <textarea name="Comment" value="" placeholder="Примечание"></textarea>
            <span class="field-validation-error"></span>
        </li>
    </ol>
</fieldset>

<div class="m_order_grid" style="width:50%; float:left">

</div>

<div class="m_suggestions_grid" style="width:47%; float:left; margin-left:2%">

</div>

<div style="clear:both;height:1.5em"></div>

<input class="m_send" type="button" value="Создать заявку" />
