﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Shared/_Head.cshtml", Model)
    <script src="~/dist/cabinet.js?@Globals.CurrentVersionHash"></script>

    <style>
        aside {
            width: 15%;
            display: inline-block;
            box-sizing: border-box;
        }

        main {
            width: 82%;
            padding-left: 2em;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <header>
        @Html.Partial("~/Views/Shared/_Header.cshtml", Model)
    </header>

    <aside>
        <a href="/cabinet">Персональные данные</a>
        @if (globals.user.UserRole == UserRoles.Vendor)
        {
            <a href="/cabinet/offers">Мои предложения</a>
        }
        <a href="/cabinet/orders">Мои заявки</a>
        <a href="/cabinet/adverts">Мои объявления</a>
        <a href="/cabinet/subscriptions">Мои подписки</a>
        <a href="/cabinet/payments">Мои оплаты</a>
        @if (globals.user.UserRole == UserRoles.Vendor)
        {
            <a href="/cabinet/offers/load">Загрузить прайслист</a>
        }
        @if (globals.user.IsAdmin)
        {
            <a href="/cabinet/vendors">Поставщики</a>
            <a href="/cabinet/unpaid_accounts">Неоплаченные счета</a>
        }
    </aside>

    <main class="m_page_@Model.PageId" data-guid="@Model.Guid.ToString()" id="@Model.Guid.ToString()">
        <h1>@Model.H1</h1>
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        @Html.Partial("~/Views/Shared/_Footer.cshtml", Model)
    </footer>

</body>
</html>
