﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers

@model PageViewModel

<div class="container">
    &copy; 2010 - 2020. @Globals.ApplicationName
    <a href="/home/serviceAgreement" style="float: right;font-size: 12px;margin-left: 2em;">Пользовательское соглашение</a>
    <a href="/contacts" style="float: right;font-size: 12px;">Контакты</a>
</div>