﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals

@model PageViewModel

@{
    var catalogueItems = globals.db.Catalogue.ToList();
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@Model.Title</title>

<!-- jquery -->
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>

<!-- kendo -->
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.material.mobile.min.css" />

<script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.3.1023/js/messages/kendo.messages.ru-RU.min.js"></script>

<!-- bluebird.js -->
<script src="//cdn.jsdelivr.net/npm/bluebird@3.5.5/js/browser/bluebird.min.js"></script>

<!-- yandex -->
<meta name="yandex-verification" content="e33bee79ce0d188e" />

<!-- google -->
<meta name="google-site-verification" content="IOzrd3BJNhrnB4TwNGkZnHtCnzSObGlMcHbeugPFqtI" />

<!-- jquery.mask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<!-- mpsignal -->
<script src="~/js/common.js?@Globals.CurrentVersionHash"></script>
<script src="~/js/kendoComponents.js?@Globals.CurrentVersionHash"></script>

<script>
    metal.enums.orderStatuses = new metal.enums.baseClass(@Html.Raw(typeof (OrderStatuses).EnumToJson()));
    metal.enums.userStatuses = new metal.enums.baseClass(@Html.Raw(typeof (UserStatuses).EnumToJson()));
    metal.enums.advertTypes = new metal.enums.baseClass(@Html.Raw(typeof (AdvertTypes).EnumToJson()));
    metal.data.catalogueItems = @Html.Raw(catalogueItems.toJSON());
    @if (globals.user != null)
    {
        <text>
            metal.data.user = @Html.Raw(globals.user.toJSON());
        </text>
    }
</script>

<link rel="stylesheet" href="~/dist/app.css?@Globals.CurrentVersionHash" />
