﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

<script>
    $(document).ready(function () {
        $('.m_main_search').metalSearch({
            take: 50
        });
    })
</script>

<div class="top">
    <div style="float: right;margin-top: 15px;margin-right: 10px;">
        @if (globals.user != null)
        {
            <div style="text-align: right;color: gray;font-size:12px">Здравствуйте, @globals.user.Name</div>
            <div style="margin-top: 1em;text-align: right;font-size:12px">
                <a href="/cabinet">Личный кабинет</a> / <a href="/logout">Выйти</a>
            </div>
        }
        else
        {
            <div style="margin-top: 1em;text-align: right;font-size:12px">
                <a href="/login?returnURL=@globals.contextAccessor.HttpContext.Request.Path">Вход / Регистрация</a>
            </div>
        }
    </div>
    <a href="/"><img class="logo" src="/images/logo.png" /></a>
    <div class="compnay_title">РУДА<div>металлический портал</div></div>
    <div style="float: left;margin-top: 25px;margin-left: 30px;">
        <div class="m_main_search" style="width: 500px;"></div>
    </div>
</div>
<nav>
    <a href="/">Главная</a>
    <a href="/offers">Предложения поставщиков</a>
    <a href="/products">Поиск товара</a>
    <a href="/orders">Заявки покупателей</a>
    @*<a href="/orders/new">Создать заявку</a>*@
    <a href="/adverts">Объявления</a>
    <a href="/subscribe">Оформить подписку</a>
</nav>
<div class="breadcrumbs"></div>