﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals

@model PageViewModel

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Shared/_Head.cshtml", Model)
    <script src="~/dist/app.js?@Globals.CurrentVersionHash"></script>
</head>
<body>
    <header>
        @Html.Partial("~/Views/Shared/_Header.cshtml", Model)
    </header>

    <main class="@Model.PageClass" id="@Model.Guid">
        @if (Model.BreadCrumbs.Count > 0)
        {

            Model.BreadCrumbs.Last().Plain = true;

            <div class="m_breadcrumbs">
                @Html.Raw(string.Join(" / ", Model.BreadCrumbs.Select(x => (x.Plain ? ("<span>" + x.Name + "</span>") : ("<a href=" + "/" + x.Url + ">" + x.Name + "</a>")))))
            </div>
        }
        <h1>@Model.H1</h1>
        <div class="m_sub_main">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        @Html.Partial("~/Views/Shared/_Footer.cshtml", Model)
    </footer>

</body>
</html>
