﻿@using MetalPortal.Core
@model AdvertsViewComponent

@{
    Layout = "~/Views/Shared/_Component.cshtml";
}

<script>

    //Объявления
    (function ($) {
        var parentWidget = metal.widgets.Component;
        var Adverts = parentWidget.extend({
            editMode: @Model.EditMode.toJSON(),
            init: function (element, options) {
                parentWidget.fn.init.call(this, element, options);
                var widget = this;

                widget.element.find('.m_add_advert').click(function (e) {

                    if (widget.editMode) {
                        metal.widgets.createInstance('AddAdvertForm', {
                            popupMode: true,
                            reloadOnSuccess: false,
                            success: function () {
                                window.location.reload();
                            }
                        }).load();
                    }
                    else
                        window.location = '/adverts/add';
                });

                if (widget.editMode) {

                    widget.element.find('.m_edit_advert').click(function (e) {
                        var advertId = $(this).data('advertid');
                        metal.widgets.createInstance('AddAdvertForm', {
                            advertId: advertId,
                            popupMode: true,
                            reloadOnSuccess: false,
                            success: function () {
                                window.location.reload();
                            }
                        }).load();
                    });

                    widget.element.find('.m_raise_advert').click(function (e) {
                        var advertId = $(this).data('advertid');

                        metal.ui.confirm('Вы действительно хотите поднять объявление ' + advertId + '?', function () {
                            widget.element.showLoader();
                            (new metal.actions.action('RaiseAdvert')).post({
                                Id: advertId
                            })
                                .then(function (response) {
                                    metal.ui.message(response.message, function () {
                                        window.location.reload();
                                    });
                                })
                                .catch(function (response) {
                                    metal.ui.error(response.message);
                                })
                                .finally(function () {
                                    widget.element.hideLoader();
                                });
                        })

                    });

                    widget.element.find('.m_remove_advert').click(function (e) {
                        var advertId = $(this).data('advertid');
                        metal.ui.confirm('Вы действительно хотите удалить объявление ' + advertId + '?', function () {
                            widget.element.showLoader();
                            (new metal.actions.action('RemoveAdvert')).post({
                                Id: advertId
                            })
                                .then(function (response) {
                                    metal.ui.message(response.message, function () {
                                        window.location.reload();
                                    });
                                })
                                .catch(function (response) {
                                    metal.ui.error(response.message);
                                })
                                .finally(function () {
                                    widget.element.hideLoader();
                                });
                        })

                    });
                }
    
            },
            options: {
                name: 'Adverts'
            }
        });
        metal.registerWidget(Adverts);
    })(jQuery);

</script>

<script>
    $(function () {
        $('#@Model.guid').metalAdverts();
    })
</script>

<style>
    .m_AdvertsViewComponent .m_advert {
        margin-top: 1em;
        padding:0em 1em;
        padding-bottom: 2em;
        border-bottom: 1px silver solid;
        overflow: hidden;
        height: 120px;
    }
    .m_AdvertsViewComponent h3 {
        display: inline-block;
        margin-top: 0em;
    }
    .m_AdvertsViewComponent .m_block {
        float: left;
        width: 25%;
        height: 100%;
    }
    .m_AdvertsViewComponent .m_block > div {
        margin-top: 1em
    }
</style>

<input type="button" value="Добавить объявление" class="m_add_advert" style="margin-bottom: 3em;" />

@foreach(var advert in Model.Adverts)
{
<div class="m_advert">

    <div class="m_block">
        <div style="font-weight:bold; text-transform: capitalize">@advert.Type.DisplayName()</div>
        <div style="font-size:smaller">@advert.CatalogueItem.Name</div>
        <div style="color:silver">@advert.CreateDate.ToLongDateTime()</div>
    </div>

    <div class="m_block">
        @foreach (var upload in advert.Uploads)
        {
            <div style="height: 100%;"><img style="height:100%;max-width: 90%;" src="/@upload.ExternalPath" /></div>
        }
    </div>

    <div class="m_block">
        <div>
            @if (Model.EditMode)
            {
                <h3>@advert.Id. @advert.Title</h3>
            }
            else
            {
                <h3><a href="/advert/@advert.Id">@advert.Title</a></h3>
            }
        </div>
        <div>@advert.Text</div>
    </div>

    <div class="m_block">
        <div>@advert.Name</div>
        <div>@advert.Phone</div>
        <div>@advert.Email</div>
        @if (Model.EditMode)
        {
        <div style="width: 35em;margin-left: -1.5em;">
            @if (advert.CanBeRaised)
            {
                <input type="button" value="Поднять" class="m_raise_advert" data-advertid="@advert.Id" />
            }
            <input type="button" value="Редактировать" class="m_edit_advert" data-advertid="@advert.Id" />
            <input type="button" value="Удалить" class="m_remove_advert m_red_button" data-advertid="@advert.Id" />
        </div>
        }
    </div>

</div>
}
