﻿@using MetalPortal.Core
@model EditCardComponent
@inject Globals globals;

@{
    Layout = "~/Views/Shared/_Component.cshtml";
}

<script>
    $(document).ready(function () {
        $("#@Model.guid form input[type=submit]").click(function (e) {
            e.preventDefault();
            var form = $(this).closest('form');
            form.showLoader();
            (new metal.actions.action('@Model.UpdateAction')).post(form.serializeToObject())
                .then(function () {
                    form.find('.field-validation-error').removeClass('field-validation-error').addClass('field-validation-valid').html('').hide();
                    form.find('.m_edit_component_success').show();
                })
                .catch(function (result) {
                    form.find('.m_edit_component_success').hide();
                    if (result.errors) {
                        form.find('.field-validation-error').removeClass('field-validation-error').addClass('field-validation-valid').html('').hide();
                        result.errors.forEach(function (error) {
                            form.find('.field-validation-valid[data-valmsg-for="' + error.key + '"]').removeClass('field-validation-valid').addClass('field-validation-error').html(error.value.errors.map(function (x) {
                                return x.errorMessage;
                            }).join('<br/>')).show();
                        })
                    }
                })
                .finally(function () {
                    form.hideLoader();
                });
        })
    })
</script>

<style>
    .m_edit_component_success {
        display: none;
        color: green;
        margin: 1em 0em;
        font-weight: bold;
    }
</style>

<div class="m_component m_@Model.GetType().Name" id="@Model.guid">
    <form class="m_name_value_list">
        @RenderBody()
    </form>
</div>
