﻿$control_back_color: #3f51b5;
$control_fore_color: white;
$text_gray_color: silver;
$border_color: silver;

a {
    color: $control_back_color
}
input[type=button], input[type=submit], button {
    background-color: $control_back_color;
    color: $control_fore_color;
}

header nav {
    background: #091e96;
}

.k-header, .k-header.k-grid-toolbar {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

header nav a, header nav a:visited {
    color: $control_fore_color;
}

input[type=button].m_red_button {
    background: indianred
}

aside {
    border: 1px solid silver;
}

fieldset ol li .value {
    font-weight:bold;
}

/* kendo */
.k-widget.k-window.k-dialog.k-dialog-titleless a {
    display: none
}

.k-header.k-window-titlebar {
    background-color: #3f51b5;
}

/* navigation */

/* m_new_order_warning */
.m_new_order_warning {
    font-size: 16px;
    margin-bottom: 0.5em;
    padding: 1em;
    border: solid 1px silver;
    width: 30em;
    color: red;
}

.m_AddSubscription__service.active {
    border-color: $control_back_color;
    background: $control_back_color;
    color: white;
}

.m_AddSubscription__payment_type.active {
    border-color: $control_back_color;
    background: $control_back_color;
    color: white;
}


.sign_component {
    border: 1px $border_color solid;
    border: none;
}
.sign_component .view_toggler {
    color: $text_gray_color;
}
.sign_component .view_toggler > span {
    color: $text_gray_color;
}
.sign_component .view_toggler > span.active {
    color: $control_back_color;
    font-weight:bold;
}

.k-rating-item.k-state-selected, .k-rating-item.k-state-hover, k-rating-item.k-state-focused {
    color: #f35800;
    background: 0 0;
    box-shadow: none;
}

/* m_VendorFeedbackForm */
.m_VendorFeedbackForm ol {
    padding-left: 0em;
}

.m_VendorFeedbackForm fieldset ol li label {
    display: none;
}

.m_VendorFeedbackForm .k-rating-container {
    margin-left:-6px;
}

.m_VendorFeedbackForm  textarea {
    width: 40em;
    height: 10.5em;
    resize: none;
}
