﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@model LoadPricelistViewComponent
@inject Globals globals;

@{
    Layout = "~/Views/Shared/_Component.cshtml";

    Dictionary<string, string> fields = new Dictionary<string, string> {
        { "Catalogue" , "Тип товара" },
        { "SteelGrade" , "Марка стали" },
        { "MetalType" , "Тип металла" },
        { "Size" , "Размер" },
        { "Quantity" , "Количество, кг" },
        { "Price" , "Цена, руб" },
        { "Article" , "Артикул" },
        { "Comment" , "Примечания" },
    };
}

<script>

    //Заявки
    (function ($) {
        var parentWidget = window.kendo.ui.GuidedWidget;
        var LoadPricelistViewComponent = parentWidget.extend({
            grid: null,
            filters: null,
            catalogueItems: [],
            init: function (element, options) {
                parentWidget.fn.init.call(this, element, options);

                var widget = this;
                var form = widget.element.find('form.m_file_form');
                var columnsForm = widget.element.find('form.m_columns_form');

                var fields = @Html.Raw(fields.toJSON(true,false));

                form.submit(function (e) {
                    e.preventDefault();
                    form.showLoader();
                    new metal.actions.action('LoadPricelist').post(new FormData(form[0]))
                        .then(function (response) {
                            form.hideLoader();
                            metal.ui.message(response.message, function () {
                                widget.element.find("[type=file]").val("");
                                form.find('.m_errors').html("");
                            })
                        })
                        .catch(function (response) {
                            form.hideLoader();
                            metal.ui.error(response.message, function () {
                                widget.element.find("[type=file]").val("");
                                form.find('.m_errors').html(response.data.join("<br/>"));
                            })
                        });
                })

                columnsForm.submit(function (e) {
                    e.preventDefault();
                    var data = columnsForm.serializeToObject();
                    columnsForm.showLoader();
                    new metal.actions.action('LoadPricelistColumns').post(data)
                        .then(function (response) {
                            columnsForm.hideLoader();
                            metal.ui.message(response.message, function () {
                                columnsForm.find('.m_errors').html("");
                            })
                        })
                        .catch(function (response) {
                            columnsForm.hideLoader();
                            metal.ui.error(response.message, function () {
                                if (response.data && response.data.length > 0) {
                                    columnsForm.find('.m_errors').html(response.data.map(function (x) {
                                        return fields[x.columnCode] + ':' + (x.row + 1) + ' - ' + x.message;
                                    }).join("<br/>"));
                                }
                                else
                                    columnsForm.find('.m_errors').html('');
                            })
                        });
                })
            },
            options: {
                name: 'LoadPricelistViewComponent',
            }
        });
        metal.registerWidget(LoadPricelistViewComponent);
    })(jQuery);
</script>

<script>
    $(function () {
        $('#@Model.guid').metalLoadPricelistViewComponent();
    })
</script>

<style>
    .m_LoadPricelistViewComponent .m_columns_form .m_items {
        overflow: hidden;
    }
    .m_LoadPricelistViewComponent .m_columns_form .m_item {
        float: left;
        width: 120px;
        padding: 1em;
    }
    .m_LoadPricelistViewComponent .m_columns_form .m_item .m_item__title {
        margin-bottom: 0.5em
    }
    .m_LoadPricelistViewComponent .m_columns_form .m_item .m_item__rows {
        resize: none;
        height: 300px;
        width: 100%;
        font-size: 10px;
    }
</style>

<a href="/example.xlsx" style="margin-bottom: 2em;display: block;">Пример заполнения файла</a>

<form enctype="multipart/form-data" method="post" class="m_file_form">
    <input name="pricelistfile" type="file">
    <span validation-for="pricelistfile"></span>
    <br/><br /><br />
    <input type="submit" value="Загрузить из файла" />
    <div class="m_errors" style="margin-top:2em; color:red"></div>
</form>

<h1 style="margin-top:2em">Загрузить из столбцов</h1>

<form class="m_columns_form">
    <div class="m_items">
        @foreach (var field in fields)
        {
            <div class="m_item">
                <div class="m_item__title">@field.Value</div>
                <textarea name="@field.Key" class="m_item__rows"></textarea>
            </div>
        }
    </div>
    <input type="submit" value="Загрузить" />
    <div class="m_errors" style="margin-top:2em; color:red"></div>
</form>


