﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers

@model NavigationViewModel<Offer>

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script>
    $(document).ready(function () {

        var orderComponent = null;

        $("#@(Model.Guid.ToString()) .m_navigation_products table").kendoGrid({
            sortable: true,
            scrollable: false
        });

        $("#@(Model.Guid.ToString()) .m_navigation_products table .place_order").click(function () {
            var offerId = $(this).data('offer_id');
            orderComponent = $("<div></div>").appendTo('body').kendoComponentReact({
                isPopup: true,
                componentName: 'FastOrder',
                componentProps: {
                    offerId: offerId,
                    onMount: function () {
                        orderComponent.open();
                    },
                    onSuccessOK: function () {
                        orderComponent.close();
                    }
                }
            }).data('kendoComponentReact');
        });
    });
</script>

@foreach (var superGroup in Model.NavigationResult.SuperGroups.Where(x => x.Groups.Count > 0))
{
<div class="m_navigation_group">
    @if (superGroup.Field == "CatalogueId")
    {
        @foreach (var group in superGroup.Groups)
        {
            <div class="m_navigation_group_entry image_entry">
                <a href="/@group.Url">
                    <img src="@group.Image"/>
                    <span>@group.Name</span>
                </a>
            </div>
        }
    }
    else
    {
        <h2>@superGroup.Title</h2>

        @foreach (var group in superGroup.Groups)
        {
            <div class="m_navigation_group_entry">
                <a href="/@group.Url">@group.Name</a>
            </div>
        }
    }
</div>
}

@if (Model.Offers.Count > 0)
{
    <div class="m_navigation_products">
        <table>
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
            </colgroup>
            <thead>
            <th data-field="catalogue">Тип продукции</th>
            <th data-field="Size">Размер</th>
            <th data-field="SteelGrade">Марка стали</th>
            <th data-field="MetalType">Тип металла</th>
            <th data-field="Quantity">Количество</th>
            <th data-field="Price">Цена</th>
            <th data-field="Comment">ГОСТ</th>
            <th data-field="Vendor">Поставщик</th>
            <th data-field="Order"></th>
            </thead>
            <tbody>
                @foreach (var offer in Model.Offers)
                {
                <tr>
                    <td><span style="display:none">@offer.Id</span>@offer.Catalogue.Name</td>
                    <td>@offer.Size</td>
                    <td>@offer.SteelGrade</td>
                    <td>@offer.MetalType</td>
                    <td>@offer.Quantity</td>
                    <td>@offer.Price</td>
                    <td>@offer.Comment</td>
                    <td>
                        @if (offer.Vendor.Url.NotNullOrEmpty() && false)
                        {
                            <a target="_blank" href="@offer.Vendor.Url">@offer.Vendor.Organization</a>
                        }
                        else
                        {
                            <a href="/vendor/@offer.Vendor.Id">@offer.Vendor.Organization</a>
                        }
                        <span>@Utils.FormatPhone(offer.Vendor.PhoneNumber)</span>
                    </td>
                    <td><input type="button" value="Оставить заявку" data-offer_id="@offer.Id" class="place_order"/></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
