﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals
@model NavigationViewModel<OrderItem>

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<style>
    .m_navigation_order_head {
        margin-top: 3em;
        padding: 1em;
        font-size: initial;
    }

    input.m_add_feedback {
        margin-left: 1em;
        font-size: 10px;
    }

    .m_navigation_order_comment {
        margin: 1em;
    }
    .m_navigation_group {
        padding: 1em 1em;
        overflow: hidden;
    }
    .m_page_navigation.OrderItem .m_navigation_products {
        float: left;
        width: 80%;
    }
    .m_page_navigation.OrderItem .m_navigation_group {
        float: left;
        width: 18%;
        box-sizing: border-box;
        border: 1px solid silver;
        margin-left: 2%;
        margin-top: 3.75em;
    }
    .m_page_navigation.OrderItem .m_navigation_group_entry {
        float: none;
        text-align: left;
        text-transform: capitalize;
    }
        .m_page_navigation.OrderItem .m_navigation_group_entry a {
            border: none;
            text-decoration: underline;
        }
        .m_page_navigation.OrderItem .m_navigation_group_entry a:hover {
            text-decoration: none;
        }
        .m_page_navigation.OrderItem .m_navigation_group_entry.m_active {
            font-weight: bold;
        }
        .m_page_navigation.OrderItem .m_navigation_group_entry.m_active a{
            text-decoration: none;
            color: black;
        }
    .m_page_navigation.OrderItem .m_navigation_order_head {
        margin-top: 0em;
    }
</style>

<script>
    $(document).ready(function () {

        $("#@(Model.Guid.ToString()) .m_navigation_products table").kendoGrid({
            sortable: true,
            scrollable: false
        });

        $("#@(Model.Guid.ToString()) .m_add_order").click(function () {
            window.location = '/orders/new';
        });

        $("#@(Model.Guid.ToString()) .m_add_feedback").click(function () {
            metal.widgets.createInstance('OrderFeedbackForm', {
                orderId: $(this).data('orderid')
            }).load(function () {
                this.open();
            });
        });

    });
</script>

<input class="m_add_order" type="button" value="Создать заявку" style="display: block;margin-bottom: 1em;" />

@if (Model.Orders.Count > 0)
{
<div class="m_navigation_products">
    @foreach (var order in Model.Orders)
    {
    <div class="m_navigation_order_head">
        <a href="/order/@order.Id">Заявка №@order.Id</a><span style="margin-left:1em;font-size:80%;color:dimgray">размещена: @order.CreateDate.ToString()</span>
        @if (globals.user != null && globals.user.IsVendor)
        {
            <input type="button" value="Ответить" class="m_add_feedback" data-orderid="@order.Id" />
        }
    </div>
        <table>
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
            </colgroup>
            <thead>
            <th data-field="catalogue">Тип продукции</th>
            <th data-field="Size">Размер</th>
            <th data-field="SteelGrade">Марка стали</th>
            <th data-field="Quantity">Количество</th>
            </thead>
            <tbody>
                @foreach (var item in order.OrderItems)
                {
                    <tr>
                        <td>@item.Catalogue.Name</td>
                        <td>@item.Size</td>
                        <td>@item.SteelGrade</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>

        @if (order.Comment.NotNullOrEmpty())
        {
            <div class="m_navigation_order_comment">
                <div class="m_gray" style="margin-bottom:0.5em;margin-left:-0.5em">Комментарий:</div>
                @order.Comment
            </div>
        }
    }
</div>
}

@foreach (var superGroup in Model.NavigationResult.SuperGroups.Where(x => x.Groups.Count > 0))
{
    <div class="m_navigation_group">
        <h2>@superGroup.Title</h2>

        @foreach (var group in superGroup.Groups)
        {
            <div class="m_navigation_group_entry @(superGroup.ActiveGroup != null && group.Name == superGroup.ActiveGroup.Name ? "m_active" : "")">
                <a href="/@group.Url">@group.Name</a>
            </div>
        }
    </div>
}