﻿@model OrdersViewComponent

@{
    Layout = "~/Views/Shared/_Component.cshtml";
}

<style>
    .m_OrdersViewComponent fieldset ol li {
        display: table-cell;
        padding-right: 2em;
    }
    .m_OrdersViewComponent fieldset ol {
        padding: 2em;
        background: #e6e6e6;
    }
        .m_OrdersViewComponent fieldset ol label {
            display: none;
        }
    .m_OrdersViewComponent .m_details_grid, .m_OrdersViewComponent .m_feedbacks_grid {
        margin-top: 2em
    }
</style>

<script>

    //Заказы
    (function ($) {
        var parentWidget = metal.widgets.Component;
        var OrdersList = parentWidget.extend({
            ordersGrid: null,
            detailsGrid: null,
            feedbacksGrid: null,
            filters: null,
            init: function (element, options) {

                parentWidget.fn.init.call(this, element, options);

                var widget = this;

                //orders grid
                this.ordersGrid = element.find('.m_orders_grid').kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: '/Data/GetOrders'
                            },
                            update: {
                                url: '/Actions/UpdateOrder',
                                type: "POST"
                            },
                            destroy: {
                                url: '/Actions/RemoveOrder',
                                type: "POST"
                            },
                            create: {
                                url: '/Actions/CreateOrder',
                                type: "POST"
                            }
                        },
                        schema: {
                            data: "data",
                            total: "total",
                            errors: "error",
                            model: {
                                id: "id",
                                fields: {
                                    id: { type: "number", editable: false },
                                    status: { type: "number", editable: false },
                                    createDate: { type: "date", editable: false },
                                    name: { type: "string", editable: true, validation: { required: true } },
                                    phone: { type: "string", editable: true, validation: { required: true } },
                                    comment: { type: "string", editable: true, validation: { required: true } }
                                }
                            }
                        },
                        serverPaging: true,
                        pageSize: 10
                    },
                    height: widget.options.height/2,
                    editable: 'inline',
                    selectable: true,
                    pageable: true,
                    autoBind: true,
                    change: function () {
                        widget.detailsGrid.dataSource.read();
                        widget.feedbacksGrid.dataSource.read();
                    },
                    columns: [
                        { field: 'id', title: 'Номер', width: '80px' },
                        { field: 'createDate', title: 'Дата', width: '150px', format: "{0:" + metal.formats.longDateTime  + "}" },
                        {
                            field: "status", title: "Статус",
                            template: function (order) {
                                return metal.enums.orderStatuses.get(order.status).Description;
                            }
                        },
                        { field: 'name', title: 'Имя' },
                        { field: 'phone', title: 'Телефон' },
                        { field: 'comment', title: 'Комментарий' },
                        {
                            command: ["edit", "destroy",
                                {
                                    text: "Поднять",
                                    name: "raise",
                                    iconClass: "k-icon k-i-sort-asc-sm",
                                    visible: function (dataItem) {
                                        return dataItem.canBeRaised;
                                    },
                                    click: function (e) {
                                        e.preventDefault();
                                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                                        (new metal.actions.action('RaiseOrder')).post({
                                            Id: dataItem.id,
                                            Status: 100
                                        }).then(function () {
                                            metal.ui.message('Объявление поднято');
                                            widget.ordersGrid.dataSource.read();
                                        })
                                        .catch(function (response) {
                                            metal.ui.error(response.message);
                                        });
                                    }
                                }
                            ], title: "&nbsp;", width: "320px"
                        }
                    ]
                }).data('kendoGrid');

                widget.ordersGrid.one("dataBound", function (e) {
                    setTimeout(function () {
                        widget.ordersGrid.select(e.sender.tbody.find("tr:first"));
                    }, 50)
                });

                //details grid
                var columns = [
                    //{
                    //    field: "order.status", title: "Статус", template: function (dataItem) {
                    //        return metal.enums.orderStatuses.get(dataItem.order.status).Description;
                    //    }
                    //},
                    //{ field: 'order.id', title: 'Заказ', width: '80px' },
                    //{ field: 'order.name', title: 'Имя' },
                    //{ field: 'order.email', title: 'Email', width: '200px' },
                    //{ field: 'order.phone', title: 'Телефон' },
                    {
                        field: "catalogueId",
                        title: "Тип продукции",
                        template: function (dataItem) {
                            return dataItem.catalogueId ? widget.catalogueItems.filter(function (x) { return x.id == dataItem.catalogueId })[0].name : '';
                        },
                        editor: widget.catalogueIdDropDownEditor
                    },
                    { field: 'steelGrade', title: 'Марка стали' },
                    { field: 'size', title: 'Размер' },
                    { field: 'quantity', title: 'Кол-во' },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                    //{ field: 'order.comment', title: 'Примечание' }
                ];
                //columns.push({
                //    command: {
                //        text: "Обработано", click: function (e) {
                //            e.preventDefault();
                //            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                //            (new metal.actions.action('UpdateOrderStatus')).post({
                //                Id: dataItem.order.id,
                //                Status: 100
                //            }).then(function () {
                //                    widget.grid.dataSource.read();
                //                })
                //                .catch(function (response) {
                //                    metal.ui.error(response.message);
                //                });                            
                //        }
                //    },
                //    title: " ",
                //    width: "120px"
                //});
                this.detailsGrid = element.find('.m_details_grid').kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: '/Data/GetOrderItems',
                                data: function () {
                                    return {
                                        orderId: widget.ordersGrid.getSelectedDataItem().id
                                    };
                                }
                            },
                            update: {
                                url: '/Actions/UpdateOrderItem',
                                type: "POST"
                            },
                            destroy: {
                                url: '/Actions/RemoveOrderItem',
                                type: "POST"
                            },
                            create: {
                                url: '/Actions/CreateOrderItem',
                                type: "POST",
                                data: function (item) {
                                    return {
                                        orderId: widget.ordersGrid.getSelectedDataItem().id
                                    };
                                }
                            },
                            data: function () {
                                return {
                                    filters: widget.element.find('.left_column').find('select,input').serializeToObject(),
                                    forEdit: true,
                                    orderId: widget.ordersGrid.getSelectedDataItem().id
                                };
                            }
                        },
                        schema: {
                            data: "data",
                            total: "total",
                            errors: "error",
                            model: {
                                id: "id",
                                fields: {
                                    id: { type: "number", editable: false },
                                    catalogueId: { type: "number", editable: true, validation: { required: true } },
                                    steelGrade: { type: "string", editable: true, validation: { required: true } },
                                    size: { type: "string", editable: true, validation: { required: true } },
                                    quantity: { type: "number", editable: true, validation: { required: true } }
                                }
                            }
                        },
                        serverPaging: true,
                        pageSize: 10
                    },
                    height: widget.options.height / 2,
                    editable: 'inline',
                    toolbar: ['create'],
                    pageable: true,
                    autoBind: false,
                    columns: columns
                }).data('kendoGrid');

                //feedbacks grid
                this.feedbacksGrid = element.find('.m_feedbacks_grid').kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: '/Data/GetOrderFeedbacks',
                                data: function () {
                                    return {
                                        orderId: widget.ordersGrid.getSelectedDataItem().id
                                    };
                                }
                            }
                        },
                        schema: {
                            data: "data",
                            total: "total",
                            errors: "error",
                            model: {
                                id: "id",
                                fields: {
                                    id: { type: "number", editable: false },
                                    createDate: { type: "date", editable: false },
                                }
                            }
                        },
                    },
                    height: widget.options.height / 2,
                    autoBind: false,
                    columns: [
                        { field: 'createDate', title: 'Дата', width: '150px', format: "{0:" + metal.formats.longDateTime + "}" },
                        { field: 'text', title: 'Текст' },
                        {
                            field: 'user', title: 'Поставщик', template: function (item) {
                                return metal.templates.vendor(item.user) + '<br/>' + item.user.phoneNumber + '<br/>' + item.user.email;
                            }
                        }
                    ]
                }).data('kendoGrid');
            },
            refresh: function (filters) {
                this.setFilters(filters);
                this.detailsGrid.dataSource.read();
            },
            setFilters: function (filters) {
                this.filters = filters;
            },
            options: {
                name: 'OrdersList',
                height: '400px'
            }
        });
        metal.registerWidget(OrdersList);
    })(jQuery);

</script>

<script>
    $(function () {
        $('#@Model.guid').metalOrdersList({
            height: 600
        });
    })
</script>

<div class="m_orders_grid"></div>
<div>
    <div style="float: left; width: 50%">
        <h3>Детали заявки</h3>
        <div class="m_details_grid"></div>
    </div>
    <div style="float: left; width: 45%; margin-left:5%">
        <h3>Ответы</h3>
        <div class="m_feedbacks_grid"></div>
    </div>
</div>
