﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@model UserEditViewComponent
@inject Globals globals;

@{
    Layout = "~/Views/Shared/Components/_EditComponent.cshtml";
}

<style>
</style>

@Html.Hidden("Id", Model.EditedUser.Id)

<div class="m_item">
    <div class="m_name">Email:</div>
    <div class="m_value">@Model.EditedUser.Email</div>
</div>

<div class="m_item">
    <div class="m_name required">@(Model.EditedUser.UserRole == UserRoles.Vendor ? "Контактное лицо" : "Имя"):</div>
    <div class="m_value">
        @Html.TextBox("Name", Model.EditedUser.Name)
        @Html.ValidationMessage("Name")
    </div>
</div>

<div class="m_item">
    <div class="m_name required">Телефон:</div>
    <div class="m_value">
        @Html.TextBox("PhoneNumber", Model.EditedUser.PhoneNumber, new { @class = "m_phone" })
        @Html.ValidationMessage("PhoneNumber")
    </div>
</div>

@if (Model.EditedUser.UserRole == UserRoles.Vendor)
{
    <div class="m_item">
        <div class="m_name required">Название организации:</div>
        <div class="m_value">
            @Html.TextBox("Organization", Model.EditedUser.Organization)
            @Html.ValidationMessage("Organization")
        </div>
    </div>

    <div class="m_item">
        <div class="m_name">Адрес сайта:</div>
        <div class="m_value">
            @Html.TextBox("Url", Model.EditedUser.Url)
            @Html.ValidationMessage("Url")
        </div>
    </div>

    <div class="m_item">
        <div class="m_name">Ссылка на прайс-лист:</div>
        <div class="m_value">
            @Html.TextBox("PricelistUrl", Model.EditedUser.PricelistUrl)
            @Html.ValidationMessage("PricelistUrl")
        </div>
    </div>
}

<div class="m_edit_component_success">Изменено успешно</div>

<input type="submit" value="Сохранить" />
