﻿@using MetalPortal.Core
@model AdvertViewComponent

@{
    Layout = "~/Views/Shared/_Component.cshtml";

    var advert = Model.Advert;
}

<style>
    .m_AdvertViewComponent .m_advert {
        padding:1em;
    }

    .m_AdvertViewComponent h2 {
        display: inline-block;
        margin-top: 0em;
    }

    .m_AdvertViewComponent .m_block {
        margin: 1em 0em;
    }

    .m_AdvertViewComponent .m_contact {
        margin-top: 2em;
    }

    .m_AdvertViewComponent .m_contact label {
        margin-right: 0.5em;
        font-weight: bold;
    }

    .m_AdvertViewComponent .m_contact > div {
        margin-top: 1em
    }
</style>

<div class="m_advert">

    <h2>@advert.Title</h2> <span style="color:silver;margin-left:0.2em">@advert.CreateDate.ToLongDateTime()</span>
    @*<div style="font-size:smaller;margin-bottom:1em; margin-top:-1.5em;">@advert.Type.DisplayName()</div>*@

    <div class="m_block">
        <div>@advert.Text</div>
    </div>

    <div class="m_block">
        @if (advert.Uploads.Count > 0)
        {
            <div style="height: 100%;"><img style="max-height:200px" src="/@advert.Uploads.First().ExternalPath" /></div>
        }
    </div>

    <div class="m_block m_contact">
        <div><label>Имя:</label>@advert.Name</div>
        <div><label>Телефон:</label>@advert.Phone</div>
        <div><label>Email:</label>@advert.Email</div>
    </div>

</div>
