﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Models

@model LoginViewModel

@{
    Model.Title = "Вход";
    Model.H1 = "";

    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="m_login"></div>

<script>
    window.app.init($("#@Model.Guid .m_login")[0], "LoginPage", {
        returnUrl: '@Model.ReturnURL'
    })
</script>
