﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Models
@inject Globals globals

@model RegisterViewModel

@{
    Model.Title = "Регистрация";
    Model.H1 = "Регистрация";

    Layout = "~/Views/Shared/_Main.cshtml";

    //List<SelectListItem> userRoles = new List<SelectListItem> {
    //    new SelectListItem("Покупатель", ((int)UserRoles.Customer).ToString()),
    //    new SelectListItem("Поставщик", ((int)UserRoles.Vendor).ToString())
    //};
}

<script>
    $(document).ready(function () {
        var rootElement = $('#@Model.Guid');
        rootElement.find('[name="UserRole"]').change(function () {
            if ($(this).is(':checked')) {
                rootElement.find('.m_vendor_row').toggleClass('undisplayed', $(this).val() != '@UserRoles.Vendor');
                rootElement.find('.m_UserName_row label').html($(this).val() != '@UserRoles.Vendor' ? 'Ваше имя' : 'Контакное лицо');
            }
        }).trigger('change');
    })
</script>

@if (Model.Success)
{
    <script>
        $(document).ready(function () {
            metal.ui.message("На вашу почту отправлено письмо с регистрационными данными", function () {
                metal.application.openPage('@Model.ReturnURL');
            })
        })
    </script>
}
else
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.ReturnURL)

        <fieldset>
            <legend></legend>
            <ol>
                <li>
                    <label></label>
                    <span style="display: table-cell">
                        @Html.RadioButtonFor(m => m.UserRole, UserRoles.Customer, new { id = "customer" })<label for="customer" style="display: inline;">@UserRoles.Customer.DisplayName()</label>&nbsp;&nbsp;
                        @Html.RadioButtonFor(m => m.UserRole, UserRoles.Vendor, new { id = "vendor" })<label for="vendor" style="display: inline;">@UserRoles.Vendor.DisplayName()</label>
                    </span>
                    @*@Html.DropDownListFor(m => m.UserRole, new List<SelectListItem> {
                new SelectListItem("Покупатель", ((int)UserRoles.Customer).ToString()),
                new SelectListItem("Поставщик", ((int)UserRoles.Vendor).ToString())
            })*@
                    @Html.ValidationMessageFor(x => x.UserRole)
                </li>
                <li class="m_UserName_row">
                    @Html.LabelFor(m => m.UserName, new { @class = "required" })
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(x => x.UserName)
                </li>
                <li class="m_vendor_row">
                    @Html.LabelFor(m => m.Organization, new { @class = "required" })
                    @Html.TextBoxFor(m => m.Organization)
                    @Html.ValidationMessageFor(x => x.Organization)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email, new { @class = "required" })
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                </li>
                <li>
                    @Html.LabelFor(m => m.Phone, new { @class = "required" })
                    @Html.TextBoxFor(m => m.Phone, new { @class = "m_phone" })
                    @Html.ValidationMessageFor(x => x.Phone)
                </li>
                <li class="m_vendor_row">
                    @Html.LabelFor(m => m.OrganizationUrl)
                    @Html.TextBoxFor(m => m.OrganizationUrl)
                    @Html.ValidationMessageFor(x => x.OrganizationUrl)
                </li>
                <li class="m_vendor_row">
                    @Html.LabelFor(m => m.PricelistUrl)
                    @Html.TextBoxFor(m => m.PricelistUrl)
                    @Html.ValidationMessageFor(x => x.PricelistUrl)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password, new { @class = "required" })
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(x => x.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required" })
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Отправить" />
        </fieldset>

        <div style="display: block; margin-top:2em">
            Уже есть аккаунта? <a href="/login">Войдите</a>
        </div>
    }
}

