﻿<script type="text/x-kendo-template" id="AddAdvertForm">
    <form>
        <input type="hidden" data-bind="value: id" name="Id" />
        <fieldset>
            <legend></legend>
            <ol>
                <li>
                    <label class="required">Заголовок</label>
                    <input type="text" name="Title" data-bind="value: title" />
                    <span class="field-validation-valid" data-valmsg-for="Title"></span>
                </li>
                <li>
                    <label class="required">Ваше имя</label>
                    <input type="text" name="Name" data-bind="value: name" />
                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <label class="required">Email</label>
                    <input type="text" name="Email" data-bind="value: email" />
                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <label class="required">Номер телефона</label>
                    <input type="text" name="Phone" class="m_phone" data-bind="value: phone" />
                    <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <label>Организация</label>
                    <input type="text" name="Organization" data-bind="value: organization" />
                    <span class="field-validation-valid" data-valmsg-for="Organization" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <label class="required">Тип объявления</label>
                    <select name="Type" data-role="dropdownlist"
                            data-bind="value: type, source: types"
                            data-text-field="Description"
                            data-value-field="Id"></select>
                    <span class="field-validation-valid" data-valmsg-for="Type" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <label class="required">Категория</label>
                    <select name="CatalogueItemId" data-role="dropdownlist"
                            data-bind="value: catalogueItemId, source: catalogueItems"
                            data-text-field="name"
                            data-value-field="id"></select>
                    <span class="field-validation-valid" data-valmsg-for="CatalogueItemId" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <label class="required">Текст</label>
                    <textarea name="Text" data-bind="value: text"></textarea>
                    <span class="field-validation-valid" data-valmsg-for="Text" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <label>Изображение</label>
                    <input name="file"
                           type="file"
                           data-role="upload"
                           data-multiple = "false"
                           data-async ="false"
                    />
                </li>
            </ol>
            <input type="submit" value="Отправить" style="width: auto;" />
        </fieldset>
    </form>
</script>