﻿<script type="text/x-kendo-template" id="OrderFeedbackForm">
    <form>
        <input type="hidden" name="OrderId" />
        <fieldset>
            <legend></legend>
            <ol>
                <li>
                    <label for="Text">Ваше сообщение</label>
                    <textarea name="Text"></textarea>
                    <span class="field-validation-valid" data-valmsg-for="Text" data-valmsg-replace="true"></span>
                </li>
            </ol>
            <input type="submit" value="Отправить" />
        </fieldset>
    </form>
</script>