﻿<script type="text/x-kendo-template" id="VendorReviewTemplate">
    <div class="m_vendor_review" style="margin: 1.5em 1em;">
        <div style="color: silver;">
            <span>#= data.name #</span>
            <span style="margin-left: 1em;font-style:italic">#= data.createDate.toShortDate() #</span>
            <span style="margin-left: 1.5em;"><input data-role="rating" value="#= data.rating #" data-label="false" data-readonly="true" /></span>
        </div>
        <div style="margin-top:0.5em">#= data.message #</div>
    </div>
</script>
<script type="text/x-kendo-template" id="VendorFeedbackForm">
    <div data-bind="visible: isSelfReviewWrapperVisible">
        <!--<input type="button" data-bind="click: showReview, visible: isShowReviewVisible" value="Оставить свой отзыв" style="margin-top: 1em" />-->
        <div style="margin-top: 1em;" data-bind="visible: isShowReviewVisible">
            <a href="#" data-bind="click: showReview">Оставить свой отзыв</a>
        </div>
        <form data-bind="visible: isSelfReviewVisible">
            <input type="hidden" data-bind="value: data.vendorId" />
            <fieldset>
                <legend></legend>
                <ol>
                    <li>
                        <label for="message"></label>
                        <textarea data-bind="value: data.message"></textarea>
                        <span class="field-validation-valid" data-valmsg-for="message" data-valmsg-replace="true"></span>
                    </li>
                    <li>
                        <label for="rating"></label>
                        <input data-role="rating" data-bind="value: data.rating" />
                    </li>
                </ol>
                <input type="button" data-bind="click: send" value="Отправить" />
            </fieldset>
        </form>
    </div>
    <div data-role="listview"
         data-template="VendorReviewTemplate"
         data-bind="source: reviews, events: {dataBound: reviewsBound}"
         style="max-height: 300px; overflow: auto;border: none;"></div>
</script>