﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    Model.Title = "Мои оплаты";
    Model.H1 = "Мои оплаты";

    Layout = "~/Views/Shared/_Cabinet.cshtml";
}

<div class="root"></div>

<script>
    window.app.init($("#@Model.Guid .root")[0], "Payments")
</script>