﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    Model.Title = "Мои подписки";
    Model.H1 = "Мои подписки";

    Layout = "~/Views/Shared/_Cabinet.cshtml";
}

<div class="root"></div>

<script>
    window.app.init($("#@Model.Guid .root")[0], "Subscriptions")
</script>