﻿@using MetalPortal.Core
@using MetalPortal.Core.Models
@using MetalPortal.Controllers
@inject Globals globals;

@model PageViewModel

@{
    Model.Title = "Неоплаченные счета";
    Model.H1 = "Неоплаченные счета";

    Layout = "~/Views/Shared/_Cabinet.cshtml";
}

<div class="root"></div>

<script>
    window.app.init($("#@Model.Guid .root")[0], "UnpaidAccounts")
</script>